.card__header img {
  border: 2.5px solid;
  border-radius: 10px;
}

.header h2 {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: var(--main-color);
  color: var(--stroke-color);
  border-radius: 7px;
  width: 400px;
}

.card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 30px 20px;
  border-bottom: 3px solid;
}

.card__article {
  padding: 20px;
}

.card__article--box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.target__box {
  border-radius: 20px;
  background-color: var(--headline-color);
  border: 3px solid;
  height: 15px;
  width: 0;
  width: 70%;
}

.one {
  width: 90%;
}
.two {
  width: 40%;
}

.card__article--catatan {
  text-align: center;
  padding: 20px;
  margin: 15px 0;
  background-color: var(--button-color);
  border-radius: 10px;
  border-top: 3px solid;
  border-bottom: 3px solid;
}
