.container {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: poppins;
}

.container::after {
  content: "";
  width: 100%;
  height: 100px;
  background-color: var(--stroke-color);
  position: absolute;
  top: 0;
}

.container::before {
  content: "";
  width: 100%;
  height: 100px;
  background-color: var(--stroke-color);
  position: absolute;
  bottom: 0;
}

section h1 {
  color: var(--headline-color);
  text-align: center;
  margin: 60px 0 50px 0;
  font-size: 2em;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.container section input {
  margin: 10px;
  padding: 10px 12px;
  border-radius: 5px;
}

.container section button {
  background-color: var(--stroke-color);
  color: var(--headline-color);
  transition: 0.3s;
  border-radius: 5px;
  padding: 8px 10px;
  margin: 15px 10px 10px;
}

.container section button:hover {
  background-color: var(--headline-color);
  color: var(--stroke-color);
}

a {
  text-decoration: none;
  color: var(--headline-color);
}

@media (width >= 40rem) {
  section {
    height: 70vh;
  }

  section h1 {
    font-size: 3em;
  }

  section form {
    width: 400px;
  }

  section form .label,
  section form button {
    font-size: 1.3em;
  }
}

@media (width >= 64rem) {
  section h1 {
    margin: 60px 30px;
    font-size: 2em;
  }

  section form {
    width: 400px;
  }

  section form .label,
  section form button {
    font-size: 1em;
  }
}
