.card {
  background-color: var(--main-color);
  padding: 15px;
  border: 2px solid var(--stroke-color);
  border-radius: 10px;
  margin: 30px 20px;
}

.card__one {
  margin: 80px 20px 20px;
}

.card__text {
  gap: 10px;
  color: var(--stroke-color);
}

.card__text p {
  text-align: none;
  font-size: 1.5em;
}

.card__text--target p {
  font-size: 1.1em;
}

.card__span--mode {
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.card__text--target span {
  font-weight: bold;
  background-color: var(--stroke-color);
  color: var(--headline-color);
  padding: 6px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__text--target {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid;
  margin: 10px 0;
}

.card a {
  background-color: var(--button-color);
  color: var(--stroke-color);
  padding: 5px 7px;
  font-size: 0.9em;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  transition: 0.3s;
  border: 3px solid;
  text-align: center;
  text-decoration: none;
}

.card a:hover {
  background-color: var(--backround-color);
  color: var(--headline-color);
}

/* button tambah */

section .tambah {
  background-color: var(--headline-color);
  color: var(--backround-color);
  padding: 8px 30px;
  border-radius: 10px;
  border: 3px solid var(--stroke-color);
  transition: 0.3s;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
}

section .tambah:hover {
  background-color: var(--main-color);
  color: var(--stroke-color);
  border: 3px solid;
}

/* Tablet */

@media (width >= 40rem) {
  section {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    margin: 20px 10px 0;
  }

  .card__one {
    margin: 20px 10px 0;
  }
}

@media (width >= 64rem) {
  section {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .card__one {
    margin: 20px;
  }

  .card {
    width: 300px;
    margin: 20px;
  }

  /* tamnbah */
  section .tambah {
    width: 30%;
  }
}
