section {
  margin: 60px 20px;
}

section fieldset {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--stroke-color);
}
.input__data {
  display: flex;
  flex-direction: column;
  margin: 5px 0 20px 20px;
}

.input__nilai {
  text-align: center;
  margin: 30px 0;
  color: var(--headline-color);
}

.input__map--setoran {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0 20px;
}

.input__map--setoran input {
  padding: 5px 9px;
  border-radius: 7px;
}

fieldset select {
  background-color: var(--backround-color);
  color: var(--headline-coor);
  padding: 7px 11px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  border: 2px solid;
}

textarea {
  margin: 10px 0 20px;
  padding: 9px 12px;
  width: 100%;
  border-radius: 5px;
}

.input__cuplikan input {
  padding: 9px 12px;
  text-align: center;
}

section .tambah {
  background-color: var(--headline-color);
  color: var(--backround-color);
  padding: 8px 30px;
  border-radius: 10px;
  border: 3px solid var(--stroke-color);
  transition: 0.3s;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
}

section .tambah:hover {
  background-color: var(--stroke-color);
  color: #b8c1ec;
  border: 3px solid;
}

@media (width >= 40rem) {
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
  }
}
