section {
  padding-right: 20px;
  padding-left: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: var(--main-color);
  color: var(--stroke-color);
  padding: 10px;
  border: 2.5px solid;
  border-radius: 10px;
}

.card__head {
  display: flex;
  justify-content: space-between;
}

.card__article {
  display: flex;
  flex-direction: column;
}

.article {
  background-color: var(--headline-color);
  padding: 5px;
  border: 2px solid;
  border-radius: 4px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
}

.article svg {
  width: 50px;
}

.cards__span {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.cards__span span {
  text-align: end;
  font-weight: bold;
}

.cards__span .button {
  text-align: center;
  padding: 5px 9px;
  font-size: 0.8em;
}

@media (width >= 40rem) {
  .cards {
    align-items: center;
    justify-content: center;
  }
}
